<section id="MainSection">
    <div class="row">
        <div class="col">
            <h1>Ingrese Producto</h1>
            <hr>
            <form class="mt-4" action="/productos" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label fw-bold">Nombre</label>
                    <input type="text" class="form-control" name="title" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label fw-bold">Precio</label>
                    <input type="number" class="form-control" name="price">
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label fw-bold">Foto URL</label>
                    <input type="text" class="form-control" name="thumbnail" />
                </div>

                <button type="submit" class="btn btn-success">Enviar</button>
            </form>
            <br>
            <a href="/productos" class="btn btn-primary">Ver Listado Productos</a>
        </div>
    </div>
</section>